/* client/src/styles/CartStyles.css */
.cart-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.cart-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.cart-container h1 {
    color: #4b0082;
}

.cart-item h3 {
    color: #6a5acd;
}

.cart-item button {
    background-color: #6a5acd;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

.checkout-button {
    background-color: #6a5acd;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
}
